.Date-picker {
  display: flex;
}
.Date-picker .react-datepicker__month {
  display: flex;
}
.Date-picker .react-datepicker__day-names {
  display: none;
}

.isLeaveApplied {
  background-color: yellow;
}
.ApprovedLeave {
  background-color: green;
  color: white !important;
}
.Rejected {
  background-color: red;
  color: white !important;
}
.Blue {
  background-color: rgb(29, 29, 228);
  color: white !important;
}
