
.Header-Wrapper{
    background-color: var(--primary);
    color: var(--white);
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.Header-Text p{
    font-size: 20px;
    margin: 0px;
    font-weight: bold;
}
.User-logout{
    display: flex;
    gap:  10px;
}
