@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
.Wrapper .sidebar {
  display: flex;
  flex-direction: column;
  flex: 0.3;
  width: auto;
  height: 100%;
  padding-right: 125px;
  background-image: linear-gradient(
    to bottom right,
    var(--secondary),
    var(--primary)
  );
  color: var(--white);
}
.Wrapper .sidebar .List a {
  color: var(--white);
  font-weight: 700;
  padding-top: 10px;
  padding-left: 15px;
  font-size: 18px;
}
.Wrapper .sidebar .List {
  padding-top: 10px;
  padding-left: 15px;
}
