:root {
  --white: white;
  --primary:#998BFA;
  --secondary:#786BD0;
  --dark:#574CA3;
  --black:#000000 ;   
  --grey:#f2f2f2;
  --lightgreen:rgb(6, 173, 6)
}   
.App {
  display: flex;
  flex-direction: column;

}
